<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Aluno</title>
</head>
<body>
    <h2>Cadastrar Aluno</h2>
    <form method="post" action="{{ url_for('cadastrar') }}">
        Nome: <input type="text" name="nome" required><br>
        Matrícula: <input type="text" name="matricula" required><br>
        Senha: <input type="password" name="senha" required><br>
        <input type="submit" value="Cadastrar">
    </form>
    <br>
    <a href="{{ url_for('visualizar') }}">Ver Lista de Alunos</a>

</body>
</html>
